@tailwind base;
@tailwind components;
@tailwind utilities;

/* If these 3 lines above are deleted, the site will look like text and big images. */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  overflow-x: hidden;
}

/* Helper classes */
.delay-100 { animation-delay: 100ms; }
.delay-200 { animation-delay: 200ms; }
.delay-300 { animation-delay: 300ms; }
/* --- PAUSE ANIMATION ON HOVER --- */
.animate-marquee:hover {
  animation-play-state: paused;
}